body {
    height: 100vh;
    margin: 0;
    background-color: rgb(247, 247, 247);
    font-family: Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
button {
    border-radius: 10px;
    background-color: white;
    width: 65%;
    height: 65px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(255,127,235);
    font-size: 23px;
    margin: 10px;
}
button:hover {
    background-color: rgba(255,193,186,.5)
}
button:active {
    background-color: rgb(255,193,186)
}
img {
    width: 70%;
    height: auto;
}
.msg {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    width: 90%;
    height: 110px;
    text-align: center;
    overflow: auto;
    margin: 5px;
    padding: 5px;
}
#affirm {
    font-size: 23px;
    color: #ba130d;
}
  /* footer section */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}
footer > .copyright {
    font-size: 18px;
}
footer > .social {
    display: flex;
}
.socials {
    padding: 0 5px;
}
.socials img {
    width: 3vw;
    height: auto;
}
@media only screen and (min-width: 724px) {
    button {
        width: 230px;
        height: 70px;
        margin: 20px;
    }
    img {
        width: 40%;
        height: auto;
    }
}